# Required
S3_BUCKET=bucket-logs-eventos

# Optional
S3_PREFIX=jornadas/detail
AWS_REGION=us-east-1
AWS_PROFILE=default

# Athena (optional)
ATHENA_DATABASE=eventos_db
ATHENA_WORKGROUP=primary
ATHENA_OUTPUT=s3://bucket-logs-eventos/athena-results/
